@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*=======Main theme colors=======*/
  --primary-color: #671ae4;
  --first-color: #0e2431;
  --second-color: #6a59d1;
  --third-color: #777;
  --tag-color: #e5e2f8;

  /*=======Hover colors=======*/
  --hover-color: #614fd0;

  /*=======Background colors=======*/
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-02: rgba(106, 0, 0, 0.1);
  --line-color: #d7d7d7;

  /*=======Box shadow=======*/
  --box-shadow: 0px 5px 8px rgba(141, 141, 141, 0.06);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--first-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*=======Header=======*/
header {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s ease;
}

.nav-bar {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 12.8rem;
  background-color: #fff;
}

#active {
  font-weight: 600;
  color: var(--hover-color);
}

.nav-bar .logo {
  color: var(--first-color);
  font-size: 20px;
  font-weight: 600;
}

.nav-items a {
  color: var(--first-color);
  font-size: 16px;
  font-weight: 500;
}

.nav-items a:not(:last-child) {
  margin-right: 50px;
}

.nav-items a:hover {
  color: var(--hover-color);
}

/*=======About=======*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 50px 80px;
}

.section-title {
  width: 100%;
  text-align: center;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 500;
}

.about-img {
  width: 30%;
  padding: 0 20px;
  position: relative;
}

.about-img .img-box img {
  position: relative;
  width: 100%;
}

.about-text {
  width: 50%;
  padding-left: 80px;
}

.about-text h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.about-text .skills {
  display: flex;
  flex-wrap: wrap;
}

.about-text .skill-item {
  background-color: var(--tag-color);
  border: 1px solid #fefefe;
  padding: 8px 16px;
  margin: 0 10px 10px 0;
  border-radius: 15px;
}

.about-text .education {
  padding: 20px 0;
}

.about-text .timeline {
  position: relative;
}

.about-text .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--second-color);
}

.about-text .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}

.about-text .timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--second-color);
  left: 0;
  top: 16px;
  border-radius: 100%;
}

.about-text .timeline-item:last-child {
  margin-bottom: 0px;
}

.about-text .timeline-item .date {
  display: block;
  color: #614fd0;
  font-weight: 400;
  margin: 0 0 10px;
}
.about-text .timeline-item h4 {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
  font-weight: 400;
}

.btn {
  margin: 3.5rem 0;
}

.btn-cv {
  color: var(--primary-color);
  border: 2px solid var(--hover-color);
  margin: 20px 0;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  word-spacing: 5px;
  border-radius: 10px;
  transition: all 300ms ease;
}

.btn-cv:hover {
  background-color: var(--hover-color);
  color: white;
}

/*=======footer=======*/
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 0 160px;
}

.creator {
  font-size: 16px;
  text-align: center;
}

.creator a {
  color: #fff;
  font-weight: 600;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.akun {
  color: white;
  margin: 0 10px;
}
