@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*=======Main theme colors=======*/
  --primary-color: #671ae4;
  --first-color: #0e2431;
  --second-color: #6a59d1;
  --third-color: #777;
  --tag-color: #e5e2f8;

  /*=======Hover colors=======*/
  --hover-color: #614fd0;

  /*=======Background colors=======*/
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-02: rgba(106, 0, 0, 0.1);
  --line-color: #d7d7d7;

  /*=======Box shadow=======*/
  --box-shadow: 0px 5px 8px rgba(141, 141, 141, 0.06);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--first-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*=======Header=======*/
header {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s ease;
}

.nav-bar {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 12.8rem;
  background-color: #fff;
}

#active {
  font-weight: 600;
  color: var(--hover-color);
}

.nav-bar .logo {
  color: var(--first-color);
  font-size: 14px;
  font-weight: 600;
}

.nav-items a {
  color: var(--first-color);
  font-size: 12px;
  font-weight: 500;
}

.nav-items a:not(:last-child) {
  margin-right: 32px;
}

.nav-items a:hover {
  color: var(--hover-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--first-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*=======Blog-Post=======*/

.blog-page {
  min-height: 100vh;
  padding: 40px;
  margin: 8vh 12vw;
}

.blog-title {
  text-align: center;
}

.blog-title h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.blog-sub h6 {
  padding-top: 12px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.blog-page-cover {
  padding-top: 40px;
  max-width: 70vw;
}

.blog-page .blog-content {
  padding: 1.5rem 0rem;
  text-align: justify;
}

/*=======Footer=======*/
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 0 160px;
}

.creator {
  font-size: 16px;
  text-align: center;
}

.creator a {
  color: #fff;
  font-weight: 600;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.akun {
  color: white;
  margin: 0 10px;
}
